In [1]:
CREATE DATABASE films;

In [5]:
USE films;
CREATE TABLE film_table (
    id  INT IDENTITY(1,1) PRIMARY KEY, 
    film_name VARCHAR(255) NOT NULL,
    film_type VARCHAR(50),
    date_of_release DATE,
    director VARCHAR(255),
    writer VARCHAR(255),
    actor VARCHAR(255),
    film_language VARCHAR(255),
    official_website VARCHAR(255),
    plot_summary NVARCHAR(400)
)

In [17]:
USE films;

: Msg 3701, Level 11, State 5, Line 2
Cannot drop the table 'film_table', because it does not exist or you do not have permission.

In [14]:
INSERT INTO film_table (id, film_name, film_type, date_of_release, director, writer, actor, film_language, official_website, plot_summary)
VALUES
( 'Inception', 'Sci-Fi, Action', '16-07-2010', 'Christopher Nolan',  'Christopher Nolan', 'Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen Page', 'English', 'http://inceptionmovie.warnerbros.com/', 'A skilled thief is recruited by a team of specialists to enter the subconscious of a CEO and implant an idea in his mind.'),
('The Social Network',  'Drama', '1-10-2010', 'David Fincher', 'Aaron Sorkin', 'Jesse Eisenberg, Andrew Garfield, Justin Timberlake', 'English', ' ', 'PThe story of the founding of Facebook and the lawsuits that followed.'),
('Black Swan', 'Drama, Thriller', '3-12-2010', 'Darren Aronofsky', 'Mark Heyman, Andres Heinz', 'Natalie Portman, Mila Kunis, Vincent Cassel', 'English', '  ', 'A ballerina competing for the lead role in a production of "Swan Lake" becomes increasingly paranoid and unstable.'),
('Toy Story 3', 'Animation, Adventure, Comedy', '18-06-2010 ', 'Lee Unkrich', 'John Lasseter, Andrew Stanton', 'Tom Hanks, Tim Allen, Joan Cusack','English', ' http://disney.go.com/toystory/', 'The toys are mistakenly delivered to a daycare center instead of the attic and must escape before being donated to a new owner.'),
('The Avengers', 'Action, Adventure, Sci-Fi ',  '4-05-2012 ', 'Joss Whedon',  'Joss Whedon', 'Robert DowneyJr., Chris Evans, Scarlett Johansson', 'English', 'http://marvel.com/avengers_movie/', "Earth\'s mightiest heroes must come together and learn to fight as a team in order to stop the mischievous Loki and his alien army from enslaving humanity.")
;

: Msg 103, Level 15, State 4, Line 7
The identifier that starts with 'Earth\'s mightiest heroes must come together and learn to fight as a team in order to stop the mischievous Loki and his alien ar' is too long. Maximum length is 128.