In [1]:
CREATE DATABASE SpartaGlobal;

In [2]:
USE SpartaGlobal

In [31]:
CREATE TABLE Learners

(
     id INT PRIMARY KEY,
     first_name VARCHAR(50),
     last_name VARCHAR(50),
     phone VARCHAR(20),
     email VARCHAR(100),
     address VARCHAR(100),
     city VARCHAR(50),
     county VARCHAR(50),
     postcode VARCHAR(10),
     course_id INT,
     start_date DATE,
     status_id INT
);


INSERT INTO Learners (id, first_name, last_name, phone, email, address, city, county, postcode, course_id, start_date, status_id)

VALUES

(1, 'John', 'Smith', '01234567890', 'john.smith@email.com', '123 Main Street', 'London', 'Greater London', 'SW1A 1AA', 101, '2022-01-03', 1),

(2, 'Jane', 'Doe', '02345678901', 'jane.doe@email.com', '456 High Street', 'Birmingham', 'West Midlands', 'B1 1AA', 102, '2022-02-07', 2),

(3, 'David', 'Jones', '03456789012', 'david.jones@email.com', '789 Park Road', 'Manchester', 'Greater Manchester', 'M1 1AA', 103, '2022-03-14', 1),

(4, 'Emma', 'Wilson', '04567890123', 'emma.wilson@email.com', '456 High Street', 'Leeds', 'West Yorkshire', 'LS1 1AA', 104, '2022-04-21', 2),

(5, 'James', 'Lee', '05678901234', 'james.lee@email.com', '789 Park Road', 'Liverpool', 'Merseyside', 'L1 1AA', 104, '2022-05-28', 1),

(6, 'Olivia', 'Clark', '06789012345', 'olivia.clark@email.com', '123 Main Street', 'Newcastle upon Tyne', 'Tyne and Wear', 'NE1 1AA', 103, '2022-06-04', 2),

(7, 'William', 'Taylor', '07890123456', 'william.taylor@email.com', '456 High Street', 'Glasgow', 'Glasgow City', 'G1 1AA', 103, '2022-07-11', 1),

(8, 'Sophia', 'Wilson', '08901234567', 'sophia.wilson@email.com', '789 Park Road', 'Edinburgh', 'City of Edinburgh', 'EH1 1AA', 101, '2022-08-18', 2),

(9, 'Daniel', 'Brown', '09012345678', 'daniel.brown@email.com', '123 Main Street', 'Belfast', 'County Antrim', 'BT1 1AA', 102, '2022-09-25', 1),

(10, 'Megan', 'Scott', '01234567891', 'megan.scott@email.com', '789 Park Road', 'Bristol', 'Bristol', 'BS1 1AA', 101, '2022-10-02', 2);




CREATE TABLE Learner_Status (
     id INT PRIMARY KEY,
     status_name VARCHAR(50)

);



INSERT INTO Learner_Status (id, status_name)

VALUES

(1, 'Training'),

(2, 'Pre-Employment'),

(3, 'Employment'),

(4, 'Experienced/In-between Employment');

: Msg 2714, Level 16, State 6, Line 46
There is already an object named 'Learner_Status' in the database.

In [35]:
CREATE TABLE trainers (
    id INT IDENTITY(1,1) PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL, 
    last_name VARCHAR(255) NOT NULL, 
    phone VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    address VARCHAR(255), 
    city VARCHAR(255), 
    county VARCHAR(255), 
    postcode VARCHAR(255), 
    course_id INT 
);

In [36]:
INSERT INTO trainers (first_name, last_name, phone, email, address, city, county, postcode, course_id)
VALUES
('John', 'Doe', '0123456789', 'johndoe@email.com', '123 High Street', 'London', 'Greater London', 'SW1A 2AA', 101),
('Jane', 'Smith', '0123456789', 'janesmith@email.com', '456 Main Street', 'Manchester', 'Greater Manchester', 'M1 1AB', 102),
('Tom', 'Jones', '0123456789', 'tomjones@email.com', '789 High Road', 'Birmingham', 'West Midlands', 'B1 1CD', 103),
('Mary', 'Taylor', '0123456789', 'marytaylor@email.com', '1010 Oxford Street', 'Bristol', 'Bristol', 'BS1 1EF', 104),
('David', 'Lee', '0123456789', 'davidlee@email.com', '555 Regent Street', 'Leeds', 'West Yorkshire', 'LS1 1GH', 104),
('Emma', 'Davis', '0123456789', 'emmadavis@email.com', '1000 George Street', 'Glasgow', 'Glasgow City', 'G1 1IJ', 101);

In [14]:
CREATE TABLE modules (
    id INT IDENTITY(1,1) PRIMARY KEY, 
    module_name VARCHAR(255) NOT NULL, 
    description TEXT,
    duration_weeks INT
);

In [17]:
select*from modules;

id,module_name,description,duration_weeks
1,Introduction to Cybersecurity,This module provides an introduction to the principles and best practices of cybersecurity.,1
2,Network Security,"This module covers topics related to securing computer networks, such as firewalls, intrusion detection and prevention, and virtual private networks.",2
3,Database and SQL,This module covers the principles and best practices of database and SQL.,1
4,Data Integration and ETL,"This module covers techniques for integrating and transforming data from multiple sources using extract, transform, load (ETL) processes.",1
5,Object-Oriented Programming,This module provides an introduction to object-oriented programming,2
6,Web Application Development with Node.js,This module covers the principles and best practices of web application development using the Node.js runtime environment.,2
7,Continuous Integration and Deployment,This module covers techniques for integrating software development and operations processes using continuous integration and deployment (CI/CD) pipelines.,1
8,Infrastructure as Code,This module covers the principles and best practices of infrastructure as code for managing and automating IT infrastructure.,2

In [18]:
CREATE TABLE clients (
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    phone VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    address VARCHAR(255), 
    city VARCHAR(255), 
    county VARCHAR(255), 
    postcode VARCHAR(255), 
    learner_id INT NOT NULL
);

In [19]:
INSERT INTO clients (name, phone, email, address, city, county, postcode, learner_id)
VALUES
('Google UK Ltd', '020 7031 3000', 'contact@google.co.uk', '1-13 St Giles High St', 'London', 'Greater London', 'WC2H 8AG', 1),
('Apple UK Ltd', '0800 048 0408', 'uk_business@apple.com', 'Hanover Street', 'London', 'Greater London', 'W1S 1JY', 2),
('Microsoft Ltd', '0344 800 2400', 'ukbus@microsoft.com', '2 Kingdom St', 'London', 'Greater London', 'W2 6BD', 3),
('IBM UK Ltd', '020 7858 1000', 'info@uk.ibm.com', '76/78 Upper Ground', 'London', 'Greater London', 'SE1 9PZ', 4),
('Amazon UK Services Ltd', '0800 279 7234', 'primary@amazon.co.uk', '1 Principal Place', 'London', 'Greater London', 'EC2A 2FA', 5),
('Facebook UK Ltd', '020 3014 6000', 'info@fb.com', '10 Brock St', 'London', 'Greater London', 'NW1 3FG', 1),
('BT Group Plc', '0800 800 150', 'customer.serv.payphones@bt.com', '81 Newgate St', 'London', 'Greater London', 'EC1A 7AJ', 2),
('BT Openreach', '0800 023 2023', 'enquiries@openreach.co.uk', '81 Newgate St', 'London', 'Greater London', 'EC1A 7AJ', 3),
('Vodafone UK Ltd', '0333 304 0191', 'ukcustomer.services@vodafone.com', 'The Connection', 'Newbury', 'Berkshire', 'RG14 2FN', 4),
('Oracle Corporation UK Ltd', '0800 092 9380', 'uk_oracle_sales@oracle.com', 'One South Place', 'London', 'Greater London', 'EC2M 2RB', 5);

In [15]:
INSERT INTO modules (module_name, description, duration_weeks)
VALUES
('Introduction to Cybersecurity', 'This module provides an introduction to the principles and best practices of cybersecurity.', 1),
('Network Security', 'This module covers topics related to securing computer networks, such as firewalls, intrusion detection and prevention, and virtual private networks.', 2),
('Database and SQL', 'This module covers the principles and best practices of database and SQL.', 1),
('Data Integration and ETL', 'This module covers techniques for integrating and transforming data from multiple sources using extract, transform, load (ETL) processes.', 1),
('Object-Oriented Programming', 'This module provides an introduction to object-oriented programming', 2),
('Web Application Development with Node.js', 'This module covers the principles and best practices of web application development using the Node.js runtime environment.', 2),
('Continuous Integration and Deployment', 'This module covers techniques for integrating software development and operations processes using continuous integration and deployment (CI/CD) pipelines.', 1),
('Infrastructure as Code', 'This module covers the principles and best practices of infrastructure as code for managing and automating IT infrastructure.', 2);

In [37]:
ALTER TABLE clients
ADD CONSTRAINT FK_clients_learners
FOREIGN KEY (learner_id) REFERENCES Learners(id);

In [29]:
--DROP TABLE Courses;
CREATE TABLE Courses (
  id INT PRIMARY KEY,
  course_name VARCHAR(50) NOT NULL,
  module_id INT NOT NULL
);


INSERT INTO Courses(id, course_name, module_id)

VALUES

(101, 'Software development', 6),

(102, 'Cyber Security', 1),

(103, 'DevOps', 7),

(104, 'Data', 3);

In [34]:
ALTER TABLE trainers
ADD CONSTRAINT FK_trainers_Courses
FOREIGN KEY (course_id) REFERENCES Courses(id);

: Msg 2714, Level 16, State 5, Line 1
There is already an object named 'FK_trainers_Courses' in the database.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.

In [35]:
ALTER TABLE Learners
ADD CONSTRAINT FK_Learners_Learners_status
FOREIGN KEY (status_id) REFERENCES Learner_status(id);

In [36]:
ALTER TABLE Learners
ADD CONSTRAINT FK_Learners_Courses
FOREIGN KEY (course_id)
REFERENCES Courses(id);

In [38]:
ALTER TABLE Courses
ADD CONSTRAINT FK_Courses_modules
FOREIGN KEY (module_id) REFERENCES modules(id)